services:
  pritunl:
    container_name: pritunl
    image: ghcr.io/jippi/docker-pritunl
    restart: unless-stopped
    privileged: true
    networks:
      - traefik
    ports:
      - 82:80
      - 8443:443
      - 1194:1194
      - 1194:1194/udp
    dns:
      - $PH_WEB_ADDRESS
      - 9.9.9.9
    volumes:
      - $DOCKER_DIR_PREFIX/pritunl/pritunl.conf:/etc/pritunl.conf
      - $DOCKER_DIR_PREFIX/pritunl/pritunl:/var/lib/pritunl
      - $DOCKER_DIR_PREFIX/pritunl/mongodb:/var/lib/mongodb
    labels:
      # The labels are usefull for Traefik only
      - traefik.enable=true
      - traefik.docker.network=traefik
      # Get the routes from http
      - traefik.http.routers.pritunl.rule=Host(`vpn.yakho.me`) || Host(`pritunl.lan`) 
      - traefik.http.routers.pritunl.entrypoints=web
      # Redirect these routes to https
      - traefik.http.routers.pritunl.middlewares=redirect-to-https@file
      # Get the routes from https
      - traefik.http.routers.pritunl-secured.rule=Host(`vpn.yakho.me`) || Host(`pritunl.lan`) 
      - traefik.http.routers.pritunl-secured.entrypoints=websecure
      - traefik.http.routers.pritunl-secure.tls.domains[0].main=vpn.yakho.me
      # Create services for Traefik to give loadbalancer
      - traefik.http.routers.pritunl-secured.service=pritunl-service
      - traefik.http.routers.pritunl.service=pritunl-service
      - traefik.http.services.pritunl-service.loadbalancer.server.port=80
      # Apply autentificiation with http challenge
      - traefik.http.routers.pritunl-secured.tls=true
      - traefik.http.routers.pritunl-secured.tls.certresolver=lets-encr
      ### Getting Pritunl to work with a reverse proxy takes extra steps
      ### https://github.com/Bald1nh0/Pritunl-Traefik?tab=readme-ov-file

networks:
  traefik:
    external: true