{{#alternativePort}}
{{#alternativePort.http}}
server {
    listen {{alternativePort.http}} default_server;
    listen [::]:{{alternativePort.http}} default_server;
    server_name _;
    gzip on;
    {{#index}}
    index {{index}};
    {{/index}}
    {{#root}}
    root {{root}};
    {{/root}}
    {{> /usr/syno/share/nginx/error_page}}
    {{#x-accel}}
    {{> /usr/syno/share/nginx/X-Accel}}
    {{/x-accel}}
    {{> /usr/syno/share/nginx/acl.mustache}}
    include conf.d/{{include}};
}
{{/alternativePort.http}}
{{#alternativePort.https}}
server {
    listen {{alternativePort.https}} default_server ssl;
    listen [::]:{{alternativePort.https}} default_server ssl;
    server_name _;
    {{#https_alt_port}}
    {{> /usr/syno/share/nginx/https.mustache}}
    {{/https_alt_port}}
    include conf.d/ssl.*.conf;
    {{#index}}
    index {{index}};
    {{/index}}
    {{#root}}
    root {{root}};
    {{/root}}
    {{> /usr/syno/share/nginx/error_page}}
    {{#x-accel}}
    {{> /usr/syno/share/nginx/X-Accel}}
    {{/x-accel}}
    {{> /usr/syno/share/nginx/acl.mustache}}
    include conf.d/{{include}};
}
{{/alternativePort.https}}
{{/alternativePort}}
{{#fqdn}}
server {
    listen 80;
    listen [::]:80;
    server_name {{server_name}};
    set $fqdn {{fqdn}};
    {{#index}}
    index {{index}};
    {{/index}}
    {{#root}}
    root {{root}};
    {{/root}}
    {{> /usr/syno/share/nginx/acl.mustache}}
    {{> /usr/syno/share/nginx/error_page}}
    {{> /usr/syno/share/nginx/LetsEncrypt}}
    {{#https.hsts}}
    location / {
        return 301 https://$server_name$request_uri;
    }
    {{/https.hsts}}
    {{^https.hsts}}
    gzip on;
    {{#x-accel}}
    {{> /usr/syno/share/nginx/X-Accel}}
    {{/x-accel}}
    include conf.d/{{include}};
    {{/https.hsts}}
}
server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name {{server_name}};
    set $fqdn {{fqdn}};
    {{#https}}
    {{> /usr/syno/share/nginx/https.mustache}}
    {{/https}}
    include conf.d/ssl.*.conf;
    {{#index}}
    index {{index}};
    {{/index}}
    {{#root}}
    root {{root}};
    {{/root}}
    {{> /usr/syno/share/nginx/LetsEncrypt}}
    {{> /usr/syno/share/nginx/error_page}}
    {{#x-accel}}
    {{> /usr/syno/share/nginx/X-Accel}}
    {{/x-accel}}
    {{> /usr/syno/share/nginx/acl.mustache}}
    include conf.d/{{include}};
}
{{/fqdn}}